@use 'styles/mixin' as *;

.loader {
    animation:spin 2s linear infinite;

    @keyframes spin { 
        100% { 
            -webkit-transform: rotate(360deg); 
            transform:rotate(360deg); 
        } 
    }

    &__container {
        height: 100vh;
        @include center-horizontal;
    }
}