@use 'styles/variables' as *;

.button {
  height: 52px;
  background: $accent;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border: none;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  padding: 0px 20px;

  transition: background-color 0.3s;


  &:hover:not(:disabled):not(.loading) {
    background-color: #86aaa7;
  }

  &:active:not(:disabled) {
    background-color: #487773;
  }

  &.disabled {
    background-color: #d9d9d9;
  }

  &__loader svg {
    margin-right: 8px;
  }

  &__loader svg path {
    fill: white;
  }
}