@use 'styles/variables' as *;
@use 'styles/mixin' as *;

.catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    padding-top: 40px;

    &__amount {
        color: $accent;
        font-size: 20px;
        padding-left: 40px;
    }

    &__total {
        font-size: 32px !important;
        display: flex;
        align-items: center;
        padding-top: 60px;
    }

    @include tablet_max {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        padding-top: 30px;
    }

    @include mobile_max {
        grid-template-columns: 1fr;
        gap: 20px;
        padding-top: 20px;
    }
}