.aboutContainer {
  padding: 40px;

  @media (max-width: 768px) {
    padding: 20px; // Уменьшаем отступы на мобильных устройствах
}
}
.centered {
  text-align: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;

  @media (max-width: 768px) {
    flex-direction: column; // Располагаем элементы в колонку
    align-items: flex-start; // Выравниваем элементы по левому краю
    margin-top: 30px; // Уменьшаем отступ сверху
  }
}

.image {
  max-width: 50%;
  height: auto;
  border-radius: 8px;
  margin-right: 20px;
  margin-bottom: 24px;

  @media (max-width: 768px) {
    max-width: 100%; // Изображение занимает всю ширину
    margin-right: 0; // Убираем правый отступ
    margin-bottom: 20px; // Уменьшаем нижний отступ
  }
}

.textContainer {
  max-width: 45%;

  @media (max-width: 768px) {
    max-width: 100%; // Текстовый блок занимает всю ширину
  }
}

.text {
  margin-bottom: 24px;

  @media (max-width: 768px) {
    margin-bottom: 16px; // Уменьшаем отступ между абзацами
  }
}
