@use 'styles/mixin' as *;

.categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    padding-top: 40px;

    &__loader {
        height: 10vh !important; 
        display: block !important;
        padding-left: 50%;
    }

    @include tablet_max {
        grid-template-columns: repeat(2, 1fr); // Две колонки на планшетах
        gap: 40px; // Настройка расстояния между элементами
        padding-top: 30px; // Корректировка отступа
    }

    @include mobile_max {
        grid-template-columns: 1fr; // Один столбец на мобильных устройствах
        gap: 20px; // Еще меньшее расстояние, если нужно
    }
}

.title {
    padding-top: 36px;
    text-align: center;
}


