@use 'styles/variables' as *;

.item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 26px;


    &__images {
        margin-right: 40px ;
    } 

    @media (max-width: 768px) {
        grid-template-columns: 1fr; // Один столбец
        gap: 15px; // Уменьшение расстояния между элементами

        &__images {
            margin-right: 0; // Убираем отступ справа, так как больше не нужно
        }
    }
}

.related__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    margin-top: 40px;
    margin-bottom: 100px;
}

.subtitle {
    font-size: 32px !important;
    margin-top: 60px;
}


.nav_detail {
    display: flex;
    margin-top: 40px;
    align-items: center;

    &__text {
        align-items: center;
    }
}