@use 'styles/variables' as *;

.root {
    width: 24px;
    height: 24px;
  }
  
.primary {
  color: $primary;
}
  
.secondary {
  color: $secondary;
}
  
.accent {
  color: $accent;
}

.icon {
  cursor: pointer;
  &__disabled {
    opacity: 0.5;
  }
}
  