.slider {
    &__button {
        position: absolute;
        top: 50%;
        z-index: 100;
        transform: translateY(-50%);
        cursor: pointer;
        

        &_left {
            left: -2%;
        }

        &_right {
            right: -2%;
        }

        &_disabled{
            opacity: 0.6;
        }
    }
}

.image {
    width: 600px;
    height: 600px;
    object-fit: cover;
}